/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;1,100&display=swap");

/* variable css */
:root {
  --header-height: 3.5rem;

  /* colors */

  /* light */
  --body-color: #071c21;
  --text-color: white;
  --sub-textcolor: #ecdbba;
  --social-color: #fff;
  --about-color: #fff;
  --button-color: #fff;
  --header-color: #071c21;

  /* fonts and typography */
  --body-font: "Work Sans", cursive;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
}

/* media queries */
@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.52rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/* Base */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/* variables Dark Theme */
body.light-theme {
  --body-color: #fffdf5;
  --text-color: #000000;
  --sub-textcolor: #b55400;
  --social-color: #000000;
  --about-color: #fff;
  --button-color: #000000;
  --header-color: #fffdf5;
  transition: all 1s;
}

/* Button Dark/Light */
.change-theme {
  position: absolute;
  right: 6rem;
  top: 4.95rem;
  cursor: pointer;
  font-size: 1.25rem;
  color: var(--text-color);
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--white-color);
  background-color: var(--body-color);
  transition: all 1s;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--white-color);
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* change header bg */

.scroll-header {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  background-color: var(--sub-textcolor);
}

/* button */

.button {
  display: inline-block;
  background-color: #b55400;
  color: var(--button-color);
  padding: 1rem 2rem;
  border-radius: 3px;
  transition: 0.3s;
  border: none;
  outline: none;
  font-family: "Work Sans", cursive;
}

.button:hover {
  background-color: #334756;
  color: #fff;
}
/* Reusuable CSS Classes */
.container {
  max-width: 1024px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding: 4.5rem 0 2rem;
}
.section__title {
  font-size: var(--h1-font-size);
  margin-bottom: 2.5rem;
  text-align: center;
  color: var(--text-color);
}
.section__subtitle {
  font-size: 1rem;
  margin-bottom: 2.5rem;
  text-align: center;
  color: var(--sub-textcolor);
}

.main {
  overflow: hidden;
}

.logo {
  width: 50px;
}

/* Header navigation */
.header {
  width: 100%;
  /* background-color: transparent; */
  background-color: var(--header-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
}

.nav__logo,
.nav__toggle {
  display: inline-flex;
  color: var(--text-color);
  cursor: pointer;
}

.nav__logo {
  align-items: center;
  column-gap: 0.25rem;
  transition: 0.3s;
}

.nav__toggle {
  cursor: pointer;
  font-size: 1.25rem;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--body-color);
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(95px);
    transition: 0.3s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 3rem;
  padding: 5rem;
  position: relative;
}
.nav__link {
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: var(--text-color);
  text-decoration: none;
  transition: 0.3s;
}

.nav__link:hover {
  color: #444444;
}

.nav__close {
  font-size: 2rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: var(--text-color);
  cursor: pointer;
}

/* End of Header Navigation */

/* show mwnu */
.show {
  right: 0;
}

/* Home */

.home {
  position: relative;
  overflow: hidden;
}

.home__container {
  position: relative;
  padding-top: 4rem;
  row-gap: 3rem;
}

.home__data {
  text-align: center;
}
.home__title {
  font-size: var(--h1-font-size);
  margin-bottom: 1rem;
  color: var(--text-color);
}

.home__subtitle {
  font-size: var(--h2-font-size);
  margin-bottom: 0.25rem;
  color: var(--text-color);
}
.home__img {
  width: 280px;
  justify-self: center;
  border-radius: 0.5rem;
}

.home__button {
  position: relative;
  border: 2px solid #ecdbba;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  color: var(--text-color);
  text-transform: uppercase;
}

.home__button::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  border: 1px solid #ecdbba;
  border-radius: 50%;
  box-shadow: 0 0 12px #ecdbba;
  transition: 0.3s;
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* End of Home */

/* about */

.about__container {
  row-gap: 6rem;
}

.about__group {
  position: relative;
}

.about__image {
  width: 310px;
  border-radius: 0.5rem;
}

.about__card {
  width: 180px;
  position: absolute;
  right: 0;
  bottom: -2.5rem;
  /* background-color: hsla(0, 0%, 100%, 0.1); */
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(16px);
  padding: 1rem 0.75rem;
  text-align: center;
  border-radius: 1.25rem;
}

.about__card-title {
  font-size: 0.9rem;
  color: var(--about-color);
}

.about__card-description {
  font-size: 0.8rem;
  color: var(--about-color);
}

.hide {
  display: none;
}
.about__title {
  text-align: initial;
  margin-bottom: 2rem;
  color: var(--sub-textcolor);
}

.about__description {
  margin-bottom: 2rem;
  color: var(--text-color);
  line-height: 1.5rem;
  font-size: 1.1rem;
}

/* End of About */

/* SERVICES */
.services__container {
  row-gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.services__content {
  text-align: center;
  margin-bottom: 2rem;
}

.services__img {
  width: 100px;
  height: 100px;
  margin-bottom: 1rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.services__title {
  color: var(--sub-textcolor);
  margin-bottom: 0.5rem;
}

.services__description {
  font-size: 1rem;
  padding: 0 1.5rem;
  color: var(--text-color);
}
/* END OF SERVICES */

/* TESTIMONIALS */

.testimonial__data,
.testimonial__header {
  display: flex;
  align-items: center;
}

.testimonial__data {
  justify-content: space-between;
  margin-bottom: 1rem;
}
.testimonial__image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.75rem;
}

.testimonial__name {
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 0.2rem;
}

.testimonial__client {
  font-size: 0.8rem;
  color: var(--sub-textcolor);
}

.testimonial__description {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  color: var(--text-color);
}

.swiper-container .swiper-pagination-testimonial {
  bottom: 0;
}

/* END OF TESTIMONIALS */

/* FOOTER */

.footer {
  position: relative;
  overflow: hidden;
}

.footer__container {
  row-gap: 1.5rem;
  position: relative;
}

.footer__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.3rem;
  color: var(--sub-textcolor);
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  transition: 0.4s;
}

.footer__logo i {
  font-size: 1.5rem;
}
.footer__title {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: var(--sub-textcolor);
}

.footer__description {
  color: var(--text-color);
}

.footer__links {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.footer__social {
  display: flex;
  column-gap: 0.8rem;
}
.footer__link,
.footer__social-link {
  color: var(--social-color);
  transition: 0.3s;
}

.footer__social-link {
  font-size: 1.5rem;
}

.footer__copy {
  display: block;
  margin-top: 1.5rem;
  text-align: center;
  color: var(--text-color);
  font-size: 0.8rem;
}

/* END OF FOOTER */

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: #f5f5f5;
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb {
  background-color: #ecdbba;
  border-radius: 1rem;
}

/* scroll up */
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -30%;
  background-color: #eeeeee;
  backdrop-filter: blur(16px);
  display: inline-flex;
  padding: 0.45rem;
  border-radius: 0.5rem;
  color: black;
  z-index: 10;
  font-size: 1rem;
  transition: 0.5s;
}

.scrollup:hover {
  transform: translateY(-0.25rem);
}

.show-scroll {
  bottom: 3rem;
}

.active-link {
  color: var(--sub-textcolor);
}

/* MEDIA QUERIES (BREAKPOINTS) */

@media screen and (max-width: 370px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
    position: relative;
  }

  .about__card {
    position: absolute;
    width: 170px;
    right: -0.5rem;
    bottom: 5rem;
  }

  .about__description {
    font-size: 0.9rem;
    max-width: 320px;
  }
}
@media screen and (max-width: 326px) {
  .about__description {
    font-size: 0.7rem;
    max-width: 260px;
  }
}

/* MEDIUM DEVICES*/

@media screen and (max-width: 766px) {
  .about__group {
    width: 350px;
    justify-self: center;
  }

  .about__card {
    position: absolute;
    width: 170px;
    right: 5rem;
    bottom: 5rem;
  }
}

@media screen and (min-width: 767px) {
  .section {
    padding: 7rem 0 2rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__list {
    flex-direction: row;
    column-gap: 1rem;
  }
  .nav__link {
    font-size: 0.7rem;
  }

  .nav__toggle,
  .nav__close {
    display: none;
  }

  .about__container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .about__container {
    column-gap: 6rem;
    align-items: center;
  }

  .about__card {
    position: absolute;
    width: 170px;
    right: 14rem;
    bottom: 5rem;
  }

  .services__container {
    display: flex;
    justify-content: center;
  }

  .services__img {
    width: 250px;
    height: 250px;
  }

  .change-theme {
    position: absolute;
    right: 4rem;
    top: 5.2rem;
    cursor: pointer;
    font-size: 1rem;
    color: var(--text-color);
  }
}

/* LARGE DEVICES */
@media screen and (min-width: 1040px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .logo {
    width: 70px;
  }
  .nav__link {
    font-size: 1rem;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 2rem;
  }

  .home__container {
    margin-top: -5rem;
  }

  .home__title {
    font-size: 1.5rem;
  }
  .home__subtitle {
    font-size: 1.1rem;
  }
  .home__img {
    width: 380px;
    margin-top: -1rem;
  }

  .about__container {
    column-gap: 6rem;
    align-items: center;
  }

  .about__group .about__image {
    width: 4800px;
  }

  .about__card {
    width: 198px;
    padding: 1rem 1.25rem;
    right: 14rem;
    bottom: 5rem;
  }

  .about__description {
    padding-right: 4rem;
    margin-bottom: 3rem;
  }
  .services__title {
    font-size: 1.3rem;
  }
  .services__description {
    font-size: 1.1rem;
  }

  .testimonial__name {
    font-size: 1.1rem;
  }
  .testimonial__client {
    font-size: 1rem;
  }

  .testimonial__description {
    font-size: 1.1rem;
  }

  .footer__container {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    place-items: center;
    justify-content: space-between;
    /* align-items: center; */
  }

  .footer__copy {
    font-size: 1.1rem;
    margin-top: 3rem;
  }
  .change-theme {
    position: absolute;
    right: 4rem;
    top: 5rem;
    cursor: pointer;
    font-size: 1.25rem;
    color: var(--text-color);
  }

  .blink {
    animation: blinker 1.5s linear infinite;
    color: tomato;
  }
}
